doctype html 
html
  head
    title heroharshit
    block scripts
    block style
      
  body
    nav#navbar 
      ul 
        div#logo 
          img(src="/static/danceLOGO.png")
          |KDA  
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/contact") Contact info]
          li #[a(href="/") Services]
          li #[a(href="/") class info]
    
    block content
    
    footer#footer 
      |copyrights © 2021 harshit sharma | All rigths are reserved