extends base.pug

block scripts
  script(src='../static/index.js')
 
block style 
    style 
      include ../static/style.css


block content 
    
    section#introSection  
       h1 Welcome To Killer D ance Academy 
       div With an aim to provide quality dance training and making dance available to all, KILLER dance classes run throughout the year at multiple locations for students from ages four to eighty four providing them with training in various dance styles by Killer’s expert faculty. 
    section#MissionSection  
       
       h3 Our Mentor
       div.card#card1
         p 
       div.card#card2
         p 
       div.card#card3
         p   
    section#sponserSection 
       h3 Our Sponsers
       div.card#sp1
         p 
       div.card#sp2
         p 
       div.card#sp3
         p    