doctype html
html
  head 
    style 
      include ../static/style.css
  body 
    nav#navbar 
      ul 
        div#logo 
          img(src="/static/danceLOGO.png")
          |KDA  
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Contact info]
        li #[a(href="/") Services]
        li #[a(href="/") class info]
    
    section#introSection  
       h1 Welcome To Killer D ance Academy 
       div With an aim to provide quality dance training and making dance available to all, KILLER dance classes run throughout the year at multiple locations for students from ages four to eighty four providing them with training in various dance styles by Killer’s expert faculty. 
    section#MissionSection  
       
       h3 Our Mentor
       div.card#card1
         p 
       div.card#card2
         p 
       div.card#card3
         p   
    section#sponserSection 
       h3 Our Sponsers
       div.card#sp1
         p 
       div.card#sp2
         p 
       div.card#sp3
         p    
    footer#footer 
       |copyrights © 2021 harshit sharma | All rigths are reserved
    script     
      include ../static/index.js